<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_personas">
                 Registro Personas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="R_aportes">
                 Registro Aportes
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_personas">
                 Consulta Personas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_aportes">
                 Consulta Aportes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="C_TiposAportes">
                 Consulta Tipos Aportes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
